
@{
    ViewBag.Title = "Festival";
}

<!-- PAGE | BLOG -->
<div class="pages page-blog-list" id="page-blog-list">
    <div class="festival-background-image">
        <div class="container">
            <!-- Header -->
            <header>
                <h3 class="line-divider">About BIFF Festival</h3>
                <h4>EDITION ONE</h4>
                <h4> 20th-21th October</h4>
                <h4>
                    Brusslaund Farm
                </h4>
            </header>
            <!-- End Header -->

            <div class="row">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-8 blog-details">
                    <!-- Article -->
                    <article>
                        <!-- Blog post description -->
                        <p class="text-allignment">
                            We would formally like to introduce you to the Brasov Independent Film Festival. You may have seen a little about us on our social medias, or this may be the first time you’ve heard of us, either way, read on to hear more about our humble beginnings and our big plans!
                        </p>

                        <p class="text-allignment">
                            BIFF is a film festival that champions the creative, the brave, and the active. The first edition of the festival is dedicated to extreme sports, specifically the mountain biking community that is already well established in Brasov, and home to some of the most talented riders in the area. It is our aim that through creating the festival we will bring together riders, filmmakers, trail-builders and young people who are enthusiastic about the sport,
                            to promote teamwork and a development of your talents whilst simultaneously showing off the mountain landscape. Everybody likes to see people enjoying themselves and we love to view the work of people who are passionate and trying new ways of pushing themselves in what they do. We want to see the people who are brave enough to try something a little different and not be scared of failing – no-one is a professional at the beginning!<br />
                        </p>

                        <p class="text-allignment">
                            A little information about our ethos and inspiration…
                        </p>

                        <p class="text-allignment">
                            We believe that the best communities, are the ones that support a diverse range of industries. A community, city or country that holds a mutual respect for the arts, as much as it does for engineering or sports, is a thriving one. This is why we believe in creating accessible ways for people of all ages to dare to try new hobbies, such as filmmaking and mountain sports,
                            both of which are underfunded and under-represented in some areas of Romania.<br />
                        </p>

                        <p class="text-allignment">
                            We realised that in Brasov there are fewer opportunities for young people in particular, to really tap in to what the city has to offer and utilise it in a positive and 
                            progressive way. Speaking to our Founder and Creative Director Horia Cojan who grew up in Brasov, we found that he experienced this first hand. <br />
                        </p>

                        <blockquote class="text-allignment">
                            “I was a bored kid, I would spend my days running around my neighbourhood and spray-painting my ‘tag’ on any spare piece of wall I could find. 
                            But, I was obsessed with the mountains. When I was younger, I wanted to be a mountain biker so badly, but my parents couldn’t afford a bike.
                            I knew there must be people on the mountain, but I felt alienated from that group because I didn’t know how to find them or how to get into it. 
                            I thought that the opportunity wasn’t for people like me. It was this memory, that first inspired me to create this space where mountain bikers could come together and most importantly work together to open up opportunities to the wider community. It’s combining my two passions: film and mountains. It’s basically the event I wish had existed when I was a teenager.”
                        </blockquote>

                        <p class="text-allignment">
                            This is something that all of us at BIFF are passionate about. Opening the doors to trying new things is something we will directly be addressing, particularly putting the younger generation at the centre. It is imperative that we promote the idea that change can be a good and sustainable thing that is beneficial to everyone.
                            All we need to do, is start small, and build up! When young people know that there are a wide variety of options for pursuing their interests then they are more empowered to not only try, but stick to them and succeed. One of the best parts about engaging young people in mountain sports in particular, is that it teaches a respect for the environment and place that they come from – they can gain a deeper sense of belonging not only to a community but to Brasov as a city.
                        </p>

                        <p class="text-allignment">
                            Back to the festival itself! Throughout the rest of the summer we will be hosting a handful of parties, screenings and networking events at Simone Bistro and filming days on the mountain. On October 6th-7th we will hold the first official launch of BIFF at Brusslaund Farm, San Petru and you are all invited. The day will consist of a pump track and big air competition for riders, bike workshops and merch stands, live music and food & drink as well as a large graffiti wall and evening short film screenings. These screenings will be a celebration of a summer season spent on the mountain and what people have achieved over the previous months. <br />
                        </p>

                        <p class="text-allignment">
                            By asking for short film submissions for BIFF 2018, we are inviting people of all ages and abilities to make a short film about mountain sports. It is a way to engage people to use their imaginations and work together to create something palpable that can be shared. Opportunities such as this, promote an alternative way to channel and showcase hard work that is different to the way that the education system and grades measure progress and success, which is so alienating to many people. This alternative shows that there are different ways to apply yourself and reminds the rest of us to never stop looking for new ways to grow and push ourselves to try new things. <br />
                        </p>

                        <p class="text-allignment">
                            “Rome wasn’t built in a day” and we do not expect this to be the easiest of rides, but with your help, support and participation, we can make something unforgettable - together. <br />
                        </p>
                    </article>
                    <!-- End Article -->
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE | BLOG -->

