
@{
    ViewBag.Title = "Index";
}

<div class="mt-30 page-blog-list" id="page-blog-list">
    <div class="festival-background-image">
        <div class="container">
            <!-- Header -->
            <header>
                <h4 class="line-divider">Invitation for the festival</h4>
            </header>
            <!-- End Header -->

            <div class="row">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-8 blog-details">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdgpow1xarmVLyfnaJrm54YOa_CiGCfpmolPU5PvsElDIo3Nw/viewform?embedded=true" width="640" height="769" frameborder="0" marginheight="0" marginwidth="0">Se încarcă...</iframe>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        </div>
    </div>
</div>