
@{
    ViewBag.Title = "Index";
}

<div class="mt-30 page-blog-list" id="page-blog-list">
    <div class="festival-background-image">
        <div class="container">
            <!-- Header -->
            <header>
                <h4 class="line-divider">Invitation for the festival</h4>
            </header>
            <!-- End Header -->

            <div class="row">
                <div class="col-lg-3 ">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdgpow1xarmVLyfnaJrm54YOa_CiGCfpmolPU5PvsElDIo3Nw/viewform?embedded=true" width="640" height="769" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                </div>
                <div class="col-lg-3">

                </div>
                <div class="col-lg-3">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd3NYqr6w0LYW4UuxdtaLmOA3WQ-FJtrHH0DaLHeOs39XQbYg/viewform?embedded=true" width="640" height="769" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
        </div>
    </div>
</div>