<!-- PAGE | ABOUT -->
<div class="pages page-about" id="page-about">
    <div class="container">
        <!-- Header -->
        <header>
            <h1 class="line-divider">Meet The Team</h1>
        </header>
        <!-- End Header -->
        <!-- Article -->
        <article>
            <!-- List of people and description with their contact details which are visable on hover -->
            <div class="thumbnails about-items">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="center">
                            <div class="item">
                                <!-- Team member image -->
                                <img class="img-circle" src="~/Content/images/team01.jpg" alt="Treble">

                                <!-- Team memeber details, activated on hover -->
                                <div class="about-overlay img-circle">
                                    <!-- Team member name and function -->
                                    <div class="team-info">
                                        <h5>
                                            Horia Cojan<br />
                                            <small>Founder & Creative director</small>
                                        </h5>
                                    </div>
                                    <div class="social-icons sicon-white">
                                        <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                        <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                        <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="center">
                            <div class="item">
                                <img class="img-circle" src="~/Content/images/team02.jpg" alt="Treble">
                                <div class="about-overlay img-circle">
                                    <!-- Team member name and function -->
                                    <div class="team-info">
                                        <h5>
                                            Grace Bouchard<br />
                                            <small>Co-Creative director</small>
                                        </h5>
                                    </div>
                                    <div class="social-icons sicon-white">
                                        <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                        <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                        <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="center">
                            <div class="item">
                                <img class="img-circle" src="~/Content/images/team03.jpg" alt="Treble">
                                <div class="about-overlay img-circle">
                                    <div class="team-info">
                                        <h5>
                                            Rares Achiriloaie<br />
                                            <small>Event director</small>
                                        </h5>
                                    </div>
                                    <div class="social-icons sicon-white">
                                        <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                        <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                        <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="center">
                            <div class="item">
                                <img class="img-circle" src="~/Content/images/team04.jpg" alt="Treble">
                                <div class="about-overlay img-circle">
                                    <div class="team-info">
                                        <h5>
                                            Adela Ionescu<br />
                                            <small>Marketing Manager</small>
                                        </h5>
                                    </div>
                                    <div class="social-icons sicon-white">
                                        <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                        <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                        <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- End Article -->
    </div>
</div>
<!-- END PAGE | ABOUT -->