<!-- PAGE | ABOUT -->
<div class="pages page-about" id="page-about">
    <div class="container">
        <!-- Header -->
        <header>
            <h1 class="line-divider">Meet The Team</h1>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p class="text-allignment mb-50">
                        Brasov Independent Film Festival is committed to bringing together communities within Brasov and showcasing the how  awesome they are.
                        The first edition of the festival is dedicated to extreme sports, specifically mountain biking (other sports are also welcome as you will soon see in our updates).
                        It is our aim that through the festival that we will bring together riders, filmmakers, trail-builders and young people who are enthusiastic about the sport, to promote teamwork
                        and a development of talent whilst simultaneously showing off the mountain landscape.
                    </p>
                </div>
            </div>
        </header>
        <!-- End Header -->
        <!-- Article -->
        <article>
            <!-- List of people and description with their contact details which are visable on hover -->
            <div class="thumbnails about-items">
                <ul id="flexiselDemo2">

                    <li>
                        <div class="item">
                            <img class="img-circle" src="~/Content/images/HORIA-HEADSHOT960.jpg" alt="Treble">
                            <!-- Team memeber details, activated on hover -->

                            <div class="about-overlay img-circle">
                                <!-- Team member name and function -->
                                <div class="team-info">
                                    <h5>
                                        Horia Cojan<br />
                                        <small>Founder & Creative director</small>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <img class="img-circle" src="~/Content/images/GRACE-HEADSHOTS960.jpg" alt="Treble">
                            <!-- Team memeber details, activated on hover -->
                            <div class="about-overlay img-circle">
                                <!-- Team member name and function -->
                                <div class="team-info">
                                    <h5>
                                        Grace Bouchard<br />
                                        <small>Co-Creative Director</small>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <img class="img-circle" src="~/Content/images/Rares-Achiriloaie960.jpg" alt="Treble">
                            <!-- Team memeber details, activated on hover -->
                            <div class="about-overlay img-circle">
                                <!-- Team member name and function -->
                                <div class="team-info">
                                    <h5>
                                        Rares Achiriloaie<br />
                                        <small>Event Director</small>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <img class="img-circle" src="~/Content/images/georgeApostu.jpg" alt="Treble">
                            <!-- Team memeber details, activated on hover -->
                            <div class="about-overlay img-circle">
                                <!-- Team member name and function -->
                                <div class="team-info">
                                    <h5>
                                        George Apostu<br />
                                        <small> Head of Production</small>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <img class="img-circle" src="~/Content/images/AnaGoga.jpg" alt="Treble">
                            <div class="about-overlay img-circle">
                                <!-- Team member name and function -->
                                <div class="team-info">
                                    <h5>
                                        Ana Goga<br />
                                        <small>Collaborator</small>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <img class="img-circle" src="~/Content/images/CatalinCiolan.jpg" alt="Treble">
                            <!-- Team memeber details, activated on hover -->
                            <div class="about-overlay img-circle">
                                <!-- Team member name and function -->
                                <div class="team-info">
                                    <h5>
                                        Catalin Ciolan<br />
                                        <small>Collaborator</small>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <img class="img-circle" src="~/Content/images/ChristophBaier.jpg" alt="Treble">
                            <!-- Team memeber details, activated on hover -->
                            <div class="about-overlay img-circle">
                                <!-- Team member name and function -->
                                <div class="team-info">
                                    <h5>
                                        Christoph Baier<br />
                                        <small>Collaborator</small>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <img class="img-circle" src="~/Content/images/RobertStefan.jpg" alt="Treble">
                            <!-- Team memeber details, activated on hover -->
                            <div class="about-overlay img-circle">
                                <!-- Team member name and function -->
                                <div class="team-info">
                                    <h5>
                                        Robert Stefan<br />
                                        <small>Collaborator</small>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <img class="img-circle" src="~/Content/images/valentinaciolan1.jpg" alt="Treble">
                            <!-- Team memeber details, activated on hover -->
                            <div class="about-overlay img-circle">
                                <!-- Team member name and function -->
                                <div class="team-info">
                                    <h5>
                                       Valentina Ciolan<br />
                                        <small>Collaborator</small>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </article>
        <!-- End Article -->
    </div>
</div>
<!-- END PAGE | ABOUT -->