<!-- PAGE | ABOUT -->
<div class="pages page-about" id="page-about">
    <div class="container">
        <!-- Header -->
        <header>
            <h1 class="line-divider">Meet The Team</h1>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p class="text-allignment mb-50">
                        Brasov Independent Film Festival is committed to bringing together communities within Brasov and showcasing the how  awesome they are.
                        The first edition of the festival is dedicated to extreme sports, specifically mountain biking (other sports are also welcome as you will soon see in our updates). 
                        It is our aim that through the festival that we will bring together riders, filmmakers, trail-builders and young people who are enthusiastic about the sport, to promote teamwork 
                        and a development of talent whilst simultaneously showing off the mountain landscape.
                    </p>
                </div>
            </div>
        </header>
        <!-- End Header -->
        <!-- Article -->
        <article>
            <!-- List of people and description with their contact details which are visable on hover -->
            <div class="thumbnails about-items">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="center">
                            <div class="item">
                                <!-- Team member image -->
                                <img class="img-circle" src="~/Content/images/HORIA-HEADSHOT960.jpg" alt="Treble">

                                <!-- Team memeber details, activated on hover -->
                                <div class="about-overlay img-circle">
                                    <!-- Team member name and function -->
                                    <div class="team-info">
                                        <h5>
                                            Horia Cojan<br />
                                            <small>Founder & Creative director</small>
                                        </h5>
                                    </div>
                                    <div class="social-icons sicon-white">
                                        <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                        <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                        <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="center">
                            <div class="item">
                                <img class="img-circle" src="~/Content/images/GRACE-HEADSHOTS960.jpg" alt="Treble">
                                <div class="about-overlay img-circle">
                                    <!-- Team member name and function -->
                                    <div class="team-info">
                                        <h5>
                                            Grace Bouchard<br />
                                            <small>Co-Creative director</small>
                                        </h5>
                                    </div>
                                    <div class="social-icons sicon-white">
                                        <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                        <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                        <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="center">
                            <div class="item">
                                <img class="img-circle" src="~/Content/images/Rares-Achiriloaie960.jpg" alt="Treble">
                                <div class="about-overlay img-circle">
                                    <div class="team-info">
                                        <h5>
                                            Rares Achiriloaie<br />
                                            <small>Event director</small>
                                        </h5>
                                    </div>
                                    <div class="social-icons sicon-white">
                                        <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                        <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                        <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-lg-3">
                        <div class="center">
                            <div class="item">
                                <img class="img-circle" src="~/Content/images/AdelaIonescu.jpg" alt="Treble">
                                <div class="about-overlay img-circle">
                                    <div class="team-info">
                                        <h5>
                                            Adela Ionescu<br />
                                            <small>Marketing Manager</small>
                                        </h5>
                                    </div>
                                    <div class="social-icons sicon-white">
                                        <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                        <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                        <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </article>
        <!-- End Article -->
    </div>
</div>
<!-- END PAGE | ABOUT -->