@*<div class="row">
    <div class="col-sm-12">*@
        <div class="pages white paralax page-welcome" id="page-welcome">
            <!-- Centralized content -->
            <div class="container">
                <div class="row-fluid">
                    <div class="center">
                        <div class="line-divider" id="welcome-messages">
                            <ul class="slides">
                                <li>
                                    <h3 class="grey-title">Our new website is on its way.</h3>
                                </li>
                                <li>
                                    <h3 class="grey-title">
                                        For festival submissions, a link of your film to contact@brasovindependentfilmfestival.com
                                        by 22nd September 2018.
                                    </h3>
                                </li>
                            </ul>
                        </div>
                        <div class="social-icons sicon-set bordered">
                            <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                            <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                            <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                            <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                            <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @*</div>
</div>*@