<div class="container">
    <header>
        <h1 class="line-divider center">Time left for submission</h1>
    </header>
    <div class="clock center" style="margin:2em;"></div>
    <div class="message"></div>
</div>