<div class="apply-stbx parallax-window" data-parallax="scroll" data-position-y="-2000%" data-z-index="999999999" data-image-src="/Content/Images/BiffBanner.png">
    <div class="pages">
        <div class="container">
            <header>
                <h1 class="line-divider-white">End of submission</h1>
            </header>
            <div class="clock center" style="margin:2em;"></div>
            <div class="message"></div>
        </div>
    </div>
</div>
