<!-- PAGE | ABOUT -->
<div class="pages page-partners" id="page-partners">
    <div class="container">
        <!-- Header -->
        <header>
            <h1 class="line-divider">Partners</h1>
        </header>
        <!-- End Header -->
        <!-- Article -->
        <article>
            <!-- List of people and description with their contact details which are visable on hover -->
            <div class="thumbnails about-items">
                <ul id="flexiselDemo1">

                    <li>
                        <div class="item">
                            <img class="img-circle" src="~/Content/images/LOGO_WEB_FLAVA_DBsmall.png" alt="Treble">
                            <!-- Team memeber details, activated on hover -->
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <img class="img-circle" src="~/Content/images/o380x80.png" alt="Treble">
                            <!-- Team memeber details, activated on hover -->
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <img class="img-circle" src="~/Content/Images/nhBike.png" alt="Treble">
                            <!-- Team memeber details, activated on hover -->
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <img class="img-circle" src="~/Content/images/longboardro_logosmall.png" alt="Treble">
                            <!-- Team memeber details, activated on hover -->
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <img class="img-circle" src="~/Content/images/smashRoom.jpg" alt="Treble">
                            <!-- Team memeber details, activated on hover -->
                        </div>
                    </li>
                </ul>

            </div>
        </article>
        <!-- End Article -->
    </div>
</div>
<!-- END PAGE | ABOUT -->