
@{
    ViewBag.Title = "Festival";
}

<!-- PAGE | BLOG -->
<div class="pages page-blog-list" id="page-blog-list">
    <div class="festival-background-image">
        <div class="container">
            <!-- Header -->
            <header>
                <h4 class="line-divider">Submission Guidelines</h4>
            </header>
            <!-- End Header -->

            <div class="row">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-8 blog-details">
                    <!-- Article -->
                    <article>

                        <!-- Blog post description -->
                        <p class="text-allignment">
                            Submissions are to be sent to  <a class="contact-us-banner" href="mailto:contact@brasovindependentfilmfestival.com" target="_top">contact@brasovindependentfilmfestival.com</a> via link. The succesfull film will then need to be sent to us, in full quality.
                        </p>

                        <p class="text-allignment">
                            We are looking for films made to showcase your talents and passions. If you have a favorite trail on the mountain, show us.
                            Challenge yourself to jump higher than you ever have before, and film it. If you have a group of riders, collaborate. We are particularly interested to see young people getting involved, so if you have an idea but no camera man or no crew get in touch and we can set you up with a team. <br />
                        </p>

                        <p class="text-allignment">
                            Our aim is to bring people together and challenge you to do something different.
                            We want to see you push yourselves and try something creative.
                            Films selected will be shown on the big screen at the first edition of BIFF on 20th October 2018 in front of your friends, family and other members of the mountain community.<br />
                        </p>
                        <ul>
                            <li class="text-allignment">
                                Submissions must be filmed in Romania.
                            </li>
                            <li class="text-allignment">
                                Film submissions can be filmed on any device: iPhone, Android, GoPro, camcorder, DSLR – anything goes
                            </li>
                            <li class="text-allignment">
                                Films must exhibit the Romanian landscape and showcase a minimum of one extreme sport.
                            </li>
                            <li class="text-allignment">
                                Films submitted must have English subtitles.
                            </li>
                            <li class="text-allignment">
                                There is no age-limit for film submissions, everyone is welcome to participate.
                            </li>
                            <li class="text-allignment">
                                Submissions must be no longer than 15 minutes long.
                            </li>
                        </ul>
                    </article>
                    <!-- End Article -->
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE | BLOG -->
