 <!-- PAGE | CONTACT -->
<div class="pages black-bg white page-contact" id="page-contact">
    <div class="container">
        <!-- Header -->
        <header>
            <h4 class="line-divider white-title">Contact</h4>
            <div class="row">
                <div class="span8 offset2">
                    <p>
                        If you think you have something to bring to the project, send us an e-mail with a CV and a cover letter. We are always looking to expand the team.
                    </p>
                </div>
            </div>
        </header>
        <!-- End Header -->
        <!-- Start Article -->
        <article>
            <div class="row">
                <div class="col-lg-6">
                    <div class="media">
                        <div class="social-icons sicon-white pull-left">
                            <a href="#" class="sicon-place"><i>Location</i></a>
                        </div>
                        <div class="media-body smallFontBy08">
                            Brusslaund Farm, San Petru, Brașov 
                        </div>
                    </div>
                    <div class="media">
                        <div class="social-icons sicon-white pull-left">
                            <a href="#" class="sicon-mail"><i>email</i></a>
                        </div>
                        <div class="media-body smallFontBy08">
                            Contact us:
                            <a class="contact-us" href="mailto:contact@brasovindependentfilmfestival.com" target="_top">contact@brasovindependentfilmfestival.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h5 class="mt-0">Get social</h5>
                    <div class="social-icons sicon-white bordered">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/brasovindiefest/" class="sicon-facebook"><i>Facebook</i></a>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/brasovindiefest/?hl=en" class="sicon-twitter"><i>Twitter</i></a>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCKGFqSY2eJr08GZHmpD3eoQ" class="sicon-linkedin"><i>LinkedIn</i></a>
                    </div>
                </div>
                <!-- End Contact information -->

                <div class="col-lg-3">
                    <img src="~/Content/Images/Biff_logo_transparent.png" />
                </div>
            </div>
        </article>
        <!-- End Article -->

    </div>
</div>
<!-- END PAGE | CONTACT -->